<div class="container">
    <div class="row justify-content-center align-items-center min-vh-100">
      <div class="col-md-6 col-lg-4">
        <!-- Pills navs -->
  
        <!-- Pills content -->
        <div class="tab-content">
          <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
            <form [formGroup]="form" (ngSubmit)="submit()">
              <div class="text-center mb-3">
                <p>Sign in with:</p>
                <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-facebook-f"></i>
                </button>
  
                <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-google"></i>
                </button>
  
                <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-twitter"></i>
                </button>
  
                <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-github"></i>
                </button>
              </div>
  
              <p class="text-center">or:</p>
  
              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="email" id="loginName" class="form-control" formControlName="email" />
                <label class="form-label" for="loginName">Email or username</label>
              </div>
  
              <!-- Password input -->
              <div class="form-outline mb-4">
                <input type="password" id="loginPassword" class="form-control" formControlName="password"/>
                <label class="form-label" for="loginPassword">Password</label>
              </div>
  
              <!-- 2 column grid layout -->
              <div class="row mb-4">
                <div class="col-md-6 d-flex justify-content-center">
                  <!-- Checkbox -->
                  <div class="form-check mb-3 mb-md-0">
                    <a routerLink="/admin">Login as Admin </a>
                  </div>
                </div>
  
                <div class="col-md-6 d-flex justify-content-center">
                  <!-- Simple link -->
                   <a routerLink="/nav" (click)="guest()">Login as Guest</a>
                </div>
              </div>
  
              <!-- Submit button -->
              <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Sign in</button>
  
              <!-- Register buttons -->
              <div class="text-center">
                <p>Not a member? <a routerLink="/register">Register</a></p>
              </div>
            </form>
          </div>
  
          <div class="tab-pane fade" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
            <form>
              <div class="text-center mb-3">
                <p>Sign up with:</p>
                <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-facebook-f"></i>
                </button>
  
                <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-google"></i>
                </button>
  
                <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-twitter"></i>
                </button>
  
                <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-github"></i>
                </button>
              </div>
  
              <p class="text-center">or:</p>
  
              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="email" id="registerEmail" class="form-control" />
                <label class="form-label" for="registerEmail">Email</label>
              </div>
  
              <!-- Password input -->
              <div class="form-outline mb-4">
                <input type="password" id="registerPassword" class="form-control" />
                <label class="form-label" for="registerPassword">Password</label>
              </div>
  
              <!-- Confirm Password input -->
              <div class="form-outline mb-4">
                <input type="password" id="confirmPassword" class="form-control" />
                <label class="form-label" for="confirmPassword">Confirm Password</label>
              </div>
  
              <!-- Submit button -->
              <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Sign up</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  