.img{

    margin-right: 200px;
}

.navbar-nav .nav-item + .nav-item {
    margin-left: 1rem; /* Add space between items */
  }
  .profile-img {
    width: 30px; /* Smaller size for the profile image */
    height: 30px; /* Maintain aspect ratio */
  }

/* src/app/navbar/navbar.component.css */
.bg-custom-dark {
    background-color: #1e293b; /* Equivalent to Tailwind CSS bg-gray-800 */
  }
  
  .text-white {
    color: #ffffff;
  }
  

.cu{
    cursor: pointer;
}

.navbar-toggler-icon::before {
  content: '';
  display: block;
  width: 30px; /* Adjust width as needed */
  height: 3px; /* Thickness of the lines */
  background-color: white; /* Color of the lines */
  position: relative;
  top: 10px; /* Adjust position as needed */
}

.navbar-toggler-icon::after {
  content: '';
  display: block;
  width: 30px; /* Adjust width as needed */
  height: 3px; /* Thickness of the lines */
  background-color: white; /* Color of the lines */
  position: absolute;
  top: 15px; /* Adjust position as needed */
}

.navbar-toggler-icon {
  background-color: transparent; /* Make sure the background is transparent */
  border: none; /* Remove any border if present */
}

.navbar-collapse{
  background-color: white;
}