<nav class="navbar navbar-expand-lg bg-custom-dark">
    <div class="container-fluid">
      <!-- Toggle Button for Mobile View -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Navbar Content -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Main Navigation Links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/about">About</a>
          </li>
        </ul>
  
        <!-- Profile and Authentication Links -->
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex align-items-center">
          <li class="nav-item me-2">
            <a class="d-flex align-items-center">
              <img [src]="img" class="rounded-circle" style="width: 40px; height: 40px;">
            </a>
          </li>
  
          <!-- Authentication Links -->
          <!-- <li class="nav-item">
            <a class="nav-link text-white" routerLink="/register">Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/">Login</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link text-white cu" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div>
  </div>
  