<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="row">
    <h3 class="ms-3">Register Employee</h3>
    <div class="col-12 d-flex justify-content-center">
      <div class="form-container">
        <form [formGroup]="form" (ngSubmit)="onSave()">
          <div class="form-outline mb-4">
            <label class="form-label" for="registerName">Name</label>
            <input type="text" id="registerName" formControlName="fullName" class="form-control" />
          </div>

          <div class="form-outline mb-4">
            <label class="form-label" for="registerUsername">Username</label>
            <input type="text" id="registerUsername" formControlName="userName" class="form-control" />
          </div>

          <div class="form-outline mb-4">
            <label class="form-label" for="registerCID">CID</label>
            <input type="text" id="registerCID" formControlName="CID" class="form-control" />
          </div>

          <div class="form-outline mb-4">
            <label class="form-label" for="registerEmail">Email</label>
            <input type="email" id="registerEmail" formControlName="email" class="form-control" />
          </div>

          <div class="form-outline mb-4">
            <label class="form-label" for="registerContact">Contact</label>
            <input type="text" id="registerContact" formControlName="contact" class="form-control" />
          </div>

          <div class="form-outline mb-4">
            <label class="form-label" for="registerJobDesignation">Job Designation</label>
            <input type="text" id="registerJobDesignation" formControlName="jobDesignation" class="form-control" />
          </div>

          <div class="form-outline mb-4">
            <label class="form-label" for="registerPassword">Password</label>
            <input type="password" id="registerPassword" formControlName="password" class="form-control" />
          </div>

          <div class="form-outline mb-4">
            <label class="form-label" for="registerRepeatPassword">Repeat Password</label>
            <input type="password" id="registerRepeatPassword" formControlName="conformPassword" class="form-control" />
            <!-- Display error message if passwords do not match -->
            <div *ngIf="form.errors?.['passwordMismatch']" class="text-danger">
              Password and Confirm Password do not match.
            </div>
          </div>

          <button type="submit" class="btn btn-primary btn-block mb-3">Sign up</button>
        </form>
      </div>
    </div>
  </div>
</div>
